.navbar {
    max-width: 1410px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .navbar__logo {
        margin: 32px  32px 32px;
    }
    .navbar__list {
        display: flex;
        margin: 32px  0 32px 96px;
        .navbar__item {
            color: #A0A3A7;
            padding-right: 32px;
            a:hover {
                color: #FFFFFF;
            }
        }
    }
    .navbar__btn {
        text-align: center;
        border: none;
        background: linear-gradient(93.22deg, #E1E1E1 8.37%, #FFFFFF 99.95%);
        box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08), inset 1px 1px 1px rgba(135, 135, 135, 0.32);
        border-radius: 999px;
        margin: 32px;
        padding: 16px 24px;
        color: #24282E;
        cursor: pointer;
        &:hover {
            background: rgb(0, 0, 0);
            color: white;
        }
    }
}
$screen-sm-max: 770px;
@mixin sm {
    @media(max-width: #{$screen-sm-max}) {
        @content;
    }
}
.navbar {
    @include sm {
        .navbar__logo {
            margin: 8px 0 8px 8px
        }
        .navbar__list {
            margin: 13px;
            margin-left: 0;
            padding-left: 0;
            .navbar__item {
                margin: 0;
                margin-top: 8px;
                padding: 5px;
            }
        }
        .navbar__btn {
            margin: 22.5px 16px 8px 0;
            padding: 5px;
        }
    }
}
