.slider {
    max-width: 597px;
    margin: 184px auto 229px;
    font-family: 'Source Sans Pro';
    text-align: center;
    color: #F2F4F7;
    .slider__title {
        font-size: 72px;
        line-height: 83px;
        font-weight: 300;
        margin-bottom: 32px;
    }
    .slider__description {
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        margin-bottom: 80px;
    }
    .slider__btn {
        border: 1px solid #8061FD;
        border-image: linear-gradient(90deg, #FC4060, #8061FD 90%);
        border-image-slice: 1;
        background: transparent;
        padding: 16px 96px;
        margin-bottom: 64px;
        &:hover {
            border-image: linear-gradient(90deg,#8061FD , #FC4060 90%);
            border-image-slice: 1;
            transition: all 1s ease-out;
        }
    }.btn__title {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        background-color: #FC4060;
        background-image: linear-gradient(90deg, #FC4060, #8061FD 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }.slider__dots {
        display: flex;
        justify-content: center;
        padding-bottom: 224px;
        padding-left: 0;
        .slider__dot {
            align-self: center;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            border: 3px solid rgba(196, 196, 196, 0.16);
            margin: 16px;
        }
        .slider__dot.active {
            border-color: #FFFFFF;
        }
    }  
}
$screen-sm-max: 700px;
@mixin sm {
    @media(max-width: #{$screen-sm-max}) {
        @content;
    }
}
.slider {
    @include sm {
        .slider__title {
            font-size: 50px;
            margin: 0 16px 16px 16px;
        }
        .slider__description {
            margin: 0 16px 80px 16px;
        }
    }
}